 @font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;

  src: local("PT Sans"),
       url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;

  src: local ("PT Sans"),
      url("../fonts/ptsansbold.woff2") format("woff2"),
      url("../fonts/ptsansbold.woff2") format("woff2"),
      url("../fonts/ptsansbold.woff") format ("woff");
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #000000;
  background-color: #f2f2f2;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400px;
  line-height: 21px;
}
a {
  text-decoration: none;
}
.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
/*СКРЫТЫЕ ЗАГОЛОВКИ*/
.visually-hidden {
  position: absolute;

  display: none;
}
.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
/*======HEADER=====*/
.main-menu {
  display: flex;
  justify-content: space-around;

  min-height: 56px;

  background-color: #ffffff;
}
.logo {
  position: absolute;

  display: block;

  width: 239px;

  text-align: center;
}
.navigation-menu {
  display: flex;
  justify-content: space-between;

  min-height: 12px;
  margin: 0;
  padding: 0;
}
.navigation-menu li {
  width: 239px;
  min-height: 56px;
}
.navigation-menu li:nth-child(3) {
  margin-left: 239px;
}
.navigation-menu a {
  color: #000000;

  font-weight: 700;
  line-height: 26px;
}
.navigation-menu a:hover,
.navigation-menu a:focus {
  color: #81b3d2;
}
.navigation-menu a:active {
  color: #000000;
}
/*=========FOOTER=======*/
.footer-main {
  display: flex;
  justify-content: space-around;

  min-height: 48px;
  margin: 0;
  margin-top: 78px;
  padding: 36px 132px;

  background-color: rgba(255, 255, 255, 0.9);
}
.social-tag {
 width: 400px;
 min-height: 16px;

 font-size: 21px;
 font-weight: 700;
 line-height: 26px;
}
.footer-social {
  width: 400px;
  min-height: 48px;
}
.footer-copyright {
  width: 400px;
  min-height: 41px;
}
/*=======INDEX========*/
.intro {
  min-height: 719px;

  background-color: #2a3a46;
  background-image: url("../img/icon-polygon.svg"), url("../img/bg-photo-sedona.jpg");
  background-repeat: no-repeat;
  background-position: 0 451px, 0px -83px;
  background-size: auto, cover;
}
.intro-image {
 /* TODO: если этот метод позиционирование верен
 то какой вариант лучше?*/
  /*margin-top: 75px;
  margin-left: 370px;
  */
  position: relative;
  top: 75px;
  left: 370px;
}
.intro-wrapper {
  min-height: 216px;
  /* не уверенна что это правильное решение но при
  margin-bottom: 0px блок не двигается*/
  margin-top: 150px;

  background-color: #ffffff;
}
/* TODO: параграф двигается вместе с блоком */
.intro-title {
  margin: 0 auto;
  margin-bottom: 38px;
  background-color: orange;
  width: 440px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.intro-text {
  text-align: center;

  color:#333333;
}
.advantage-item {
  text-align: center;
}
.advantage-item h3 {
  font-size: 21px;
  font-weight: 700;
}
.advantage-item:first-child,
.advantage-item:nth-child(2){
  color: #ffffff;
  background-color: #81b3d2;
}
.advantage-item .sublist {
  color: #000000;
  background-color: #eeeeee;
}
.search-question {
  text-align: center;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.search-text {
  text-align: center;

  line-height: 24px;
}
.hotel-search {
  width: 568px;
  min-height: 48px;
  margin: 0 auto;

  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.form-title {
  padding: 33px 139px;

  color: #ffffff;
  background-color: #766357;

  font-size: 21px;
}
.form-title:hover,
.form-title:focus {
  background-color: #604e43;
}
.form-inputs {
  width: 348px;
  max-height: 286px;
  padding: 56px;;
}
.hotel-search input {
  text-transform:uppercase;

  border: none;
  background-color: #f2f2f2;

  font-weight: 700;
}
.hotel-search input:hover,
.hotel-search input:focus {
  background-color: #ebebeb;
}
.hotel-search label {
  font-weight: 700;
  line-height: 26px;
}
.button-calendar {
  border: none;
  background-color: transparent;
}
.button-search {
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  background-color: #81b3d2;

  font-size: 21px;
}
.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
}
.button-search:active {
  opacity: 0.3;
  color: #ffffff;
  background-color: #5496bd;
}
/*======HOTELS======*/
.current-page {
  color: #766357;

  font-weight: 700;
}
.filters {
  width: 1200px;
  min-height: 215px;

  color: #ffffff;
  background-image: url("../img/bg-photo-sedona.jpg");
}
.form-wrapper {
  padding: 31px 72px;
}
.filters-fieldset {
  width: 160px;
  min-height: 157px;

  border: none;

  font-size: 16px;
  font-weight: 700;
}
.filters-legend {
  font-size: 16px;
  font-weight: 700;
}
.price-band {
  width: 318px;
  min-height: 157px;
}
.price-band label {
  font-size: 16px;
  font-weight: 700;
}
.button-filter {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;

  font-weight: 400;
}
.button-filter:hover,
.button-filter:focus {
  color: #000000;
  background-color: #ffffff;
}
.filter-result-amount {
  font-size: 21px;
  font-weight: 700;
}
.result-list {
  margin: 0;
  padding: 0;
}
.result-item {
  padding: 30px 72px;

  border-bottom: 1px solid #e5e5e5;
}
.sort-button {
  opacity: 0.3;
  color: #000000;
  border-bottom: 2px dotted #81b3d2;

  line-height: 18px;
}

.sort-by-price {
  opacity: 1;
  color: #81b3d2;
  border-bottom: none;
}
.hotel-link {
  color: #000000;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.hotel-link:hover,
.hotel-link:focus {
  color: #81b3d2;
}
.hotel-link:active {
  opacity: 0.3;
  color: #000000;
}
.rating {
  text-align: right;

  color: #666666;
  background-color: #f2f2f2;
}
.button-describe {
  color: #ffffff;
  background-color: #81b3d2;
}
.button-describe:hover,
.button-describe:focus {
  background-color: #669ec0;
}
.button-describe:active {
  opacity: 0.3;
  color: #ffffff;
  background-color: #669ec0;
}
.button-booking {
  color: #ffffff;
  background-color: #766357;
}
.button-booking:hover,
.button-booking:focus {
  background-color: #604e43;
}
.button-booking:active {
  opacity: 0.3;
  color: #ffffff;
  background-color: #604e43;
}
