 @font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  src: local("PT Sans"),
  url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  src: local ("PT Sans"),
  url("../fonts/ptsansbold.woff2") format("woff2"),;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0,0,0,0);
}
.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
/*======HEADER=====*/
.main-menu {
  display: flex;
  min-height: 56px;
  background-color: #ffffff;
}
.logo img {
  position: absolute;
  display: block;
  width: 150px;
  top: -1px;
  left: 878px;

  text-align: center;
}
.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  min-height: 12px;
  margin: 0;
  padding: 0;
}
.navigation-menu li {
  width: 300px;
  min-height: 56px;
  margin: 0;
  padding: 0;
}
.navigation-menu a {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin: 14px 71px;
  display: block;
  vertical-align: middle;
}
.navigation-menu li:nth-child(2) a {
  margin-left: 12px;
}
.navigation-menu li:nth-child(3) a {
      margin-right: 10px;
      margin-left: 199px;
}
.navigation-menu li:last-child a {
  margin-left: 148px;
}
.navigation-menu a:hover,
.navigation-menu a:focus {
  color: #81b3d2;
}
.navigation-menu a:active {
  color: #000000;
}
/*=========FOOTER=======*/
.footer-main {
  display: flex;
  min-height: 48px;
  margin: 0;
  margin-top: 78px;
  padding: 36px 132px;
  background-color: #f6f6f6;
}
.background-opacity {
  opacity: 0.9;
}
.social-tag {
  width: 400px;
  min-height: 16px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.footer-social {
  width: 400px;
  min-height: 48px;
}
.footer-copyright {
  width: 400px;
  min-height: 41px;
}
/*=======INDEX========*/
.intro {
  min-height: 719px;

  background-color: #2a3a46;
  background-image: url("../img/icon-polygon.svg"), url("../img/bg-photo-sedona.jpg");
  background-repeat: no-repeat;
  background-position: -1px 450px, 0 -83px;
  background-size: auto, cover;
}
.intro-image {
  /* TODO: если этот метод позиционирование верен
 то какой вариант лучше?*/
  /*margin-top: 75px;
  margin-left: 370px;
  */
  position: relative;
  top: 75px;
  left: 370px;
}
.intro-wrapper {
  min-height: 216px;
  /* не уверенна что это правильное решение но при
  margin-bottom: 0px блок не двигается*/
  margin-top: 149px;
  padding-top: 61px;

  background-color: #ffffff;
}

/* TODO: параграф двигается вместе с блоком пришлось
его обернуть в div */
.intro-title {
  width: 427px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}
.intro-text {
  text-align: center;
  color: #333333;
}
.advantage-item {
  text-align: center;
}
.advantage-item h3 {
  font-weight: 700;
  font-size: 21px;
}
.advantage-item:first-child {
  color: #ffffff;

  background-color: #81b3d2;
}
.advantage-item .sublist {
  color: #000000;

  background-color: #eeeeee;
}
.search-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.search-text {
  line-height: 24px;
  text-align: center;
}
.hotel-search {
  width: 592px;
  min-height: 500px;
  margin: 0 auto;

  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.form-title {
  min-height: 86px;
  padding: 33px 139px;

  font-size: 21px;
  color: #ffffff;

  background-color: #766357;
}
.form-title:hover,
.form-title:focus {
  background-color: #604e43;
}
.form-inputs {
  width: 348px;
  min-height: 286px;
  padding: 55px;
}
.hotel-search input {
  font-weight: 700;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}
.hotel-search input:hover,
.hotel-search input:focus {
  background-color: #ebebeb;
}
.hotel-search label {
  font-weight: 700;
  line-height: 26px;
}
.button-calendar {
  background-color: transparent;
  border: none;
}
.button-search {
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}
.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
}
.button-search:active {
  color: #ffffff;

  background-color: #5496bd;
  opacity: 0.3;
}
/*======HOTELS======*/
.current-page {
  font-weight: 700;
  color: #766357;
}
.filters {
  width: 1200px;
  min-height: 215px;

  color: #ffffff;

  background-image: url("../img/bg-photo-sedona.jpg");
}
.form-wrapper {
  padding: 31px 72px;
}
.filters-fieldset {
  width: 160px;
  min-height: 157px;

  font-weight: 700;
  font-size: 16px;

  border: none;
}
.filters-legend {
  font-weight: 700;
  font-size: 16px;
}
.price-band {
  width: 318px;
  min-height: 157px;
}
.price-band label {
  font-weight: 700;
  font-size: 16px;
}
.button-filter {
  font-weight: 400;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}
.button-filter:hover,
.button-filter:focus {
  color: #000000;

  background-color: #ffffff;
}
.sorting-results {
  display: flex;
  min-height: 87px;

  border-bottom: 1px solid #e5e5e5;
}
.filter-result-amount {
  width: 117px;
  margin-right: 49px;
  margin-left: 72px;

  font-weight: 700;
  font-size: 21px;
  line-height: 22px;
}
.sorting-title {
  width: 75px;
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
}
.sort-by-type {
  display: flex;
  width: 282px;
}
.sort-by-type li:first-child ~ li {
  margin-left: 33px;
}
.sort-button {
  line-height: 18px;
  color: #000000;

  border-bottom: 2px dotted #81b3d2;
  opacity: 0.3;
}
.sort-by-priority {
  display: flex;
  width: 34px;
}
.result-list {
  margin: 0;
  padding: 0;
}
.result-item {
  display: flex;
  padding: 30px 72px;

  border-bottom: 1px solid #e5e5e5;
}
.result-image {
  width: 135px;
  height: 90px;
}
.result-wrapper {
  width: 260px;
  min-height: 90px;
}
.sort-button {
  line-height: 18px;
  color: #000000;

  border-bottom: 2px dotted #81b3d2;
  opacity: 0.3;
}
.sort-by-price {
  color: #81b3d2;

  border-bottom: none;
  opacity: 1;
}
.hotel-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.hotel-link:hover,
.hotel-link:focus {
  color: #81b3d2;
}
.hotel-link:active {
  color: #000000;

  opacity: 0.3;
}
.rating {
  width: 100px;
  min-height: 27px;

  color: #666666;

  background-color: #f2f2f2;
}
.button-describe {
  color: #ffffff;

  background-color: #81b3d2;
}
.button-describe:hover,
.button-describe:focus {
  background-color: #669ec0;
}
.button-describe:active {
  color: #ffffff;

  background-color: #669ec0;
  opacity: 0.3;
}
.button-booking {
  color: #ffffff;

  background-color: #766357;
}
.button-booking:hover,
.button-booking:focus {
  background-color: #604e43;
}
.button-booking:active {
  color: #ffffff;

  background-color: #604e43;
  opacity: 0.3;
}
