 @font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  src: local("PT Sans"),
  url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  src: local ("PT Sans"),
  url("../fonts/ptsansbold.woff2") format("woff2"),;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0,0,0,0);
  clip-path: inset(100%);
}
.container {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 0;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.background-map {
  background-image: url("../img/map-hotels-in-sedona.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
/*======HEADER=====*/
.main-menu {
  display: flex;
  min-height: 56px;

  background-color: #ffffff;
}
.logo img {
  position: absolute;
  top: -1px;
  left: 840px;

  display: block;
  width: 150px;
}
.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  min-height: 12px;
  margin: 0;
  padding: 0;
}
.navigation-menu li {
  width: 300px;
  min-height: 56px;
  margin: 0;
  padding: 0;
}
.navigation-menu a {
  display: block;
  margin: 14px 71px;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
  color: #000000;
}
.navigation-menu li:nth-child(2) a {
  margin-left: 12px;
}
.navigation-menu li:nth-child(3) a {
  margin-right: 10px;
  margin-left: 199px;
}
.navigation-menu li:last-child a {
  margin-left: 148px;
}
.navigation-menu a:hover,
.navigation-menu a:focus {
  color: #81b3d2;
}
.navigation-menu a:active {
  color: #000000;
}
/*=========FOOTER=======*/
.footer-main {
  display: flex;
  min-height: 48px;
  margin: 0;
  margin-top: 81px;
  padding: 20px 132px;

  background-color: #ffffff;
}
.background-opacity {
  background-color: rgba(255, 255, 255, 0.9);
}
.social-tag {
  width: 400px;
  min-height: 16px;
  margin-top: 26px;
  margin-right: 254px;
  margin-left: 1px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.footer-social {
  width: 400px;
  min-height: 54px;
}
.social-network {
  display: flex;
  margin-top: 16px;
  margin-right: 180px;
}
.button-social {
  display: block;
  width: 46px;
  height: 47px;
  margin-right: 6px;
  padding: 14px 14px;

  background-color: #81b3d2;
}

.footer-copyright {
  display: flex;
  width: 400px;
  min-height: 41px;
  margin-top: 18px;
}
.footer-copyright span {
  display: block;
  width: 100px;
  margin-top: 12px;
  margin-right: -17px;
  margin-left: 43px;
}
/*=======INDEX========*/
.intro {
  min-height: 719px;

  background-color: #2a3a46;
  background-image: url("../img/icon-polygon.svg"), url("../img/bg-photo-sedona.jpg");
  background-repeat: no-repeat;
  background-position: -1px 450px, 0 -83px;
  background-size: auto, cover;
}
.intro-image {
  /* TODO: если этот метод позиционирование верен
 то какой вариант лучше?*/
  /*margin-top: 75px;
  margin-left: 370px;
  */
  position: relative;
  top: 75px;
  left: 370px;
}
.intro-wrapper {
  min-height: 216px;
  /* не уверенна что это правильное решение но при
  margin-bottom: 0px блок не двигается*/
  margin-top: 147px;
  padding-top: 61px;

  background-color: #ffffff;
}

/* TODO: параграф двигается вместе с блоком пришлось
его обернуть в div */
.intro-title {
  width: 427px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 21px;
  text-align: center;
  font-weight: 700;
  line-height: 28px;
}
.intro-text {
  text-align: center;
  color: #333333;
}
.advantage {
  margin-bottom: -50px;
}
.advantage-list {
  display: flex;
  flex-wrap: wrap;
}
.advantage-item {
  text-align: center;
}
.row-image {
  display: flex;
}
.advantage-item h3 {
  font-weight: 700;
  font-size: 21px;
}
.advantage-item-wrapper {
  width: 400px;
  min-height: 256px;

  color: #ffffff;

  background-color: #81b3d2;
}
.advantage-item img {
  width: 800px;
  height: 256px;
}
.advantage-sublist {
  display: flex;
  min-height: 330px;
}
.advantage-list:last-child {
  order: 1;
}
.sublist {
  width: 400px;

  color: #000000;

  background-color: #eeeeee;
}
.search-question {
  margin-bottom: 22px;

  font-weight: 700;
  font-size: 30px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.search-text {
  width: 435px;
  margin: 0 auto;
  margin-bottom: 46px;

  line-height: 24px;
  text-align: center;
  text-align: center;
}
.hotel-search {
  width: 567px;
  height: 479px;
  margin: 0 auto;

  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.form-title {
  min-height: 36px;
  margin-bottom: -26px;
  padding-top: 32px;
  padding-right: 137px;
  padding-bottom: 60px;
  padding-left: 137px;

  font-size: 21px;
  font-size: 21px;
  color: #ffffff;

  background-color: #766357;
}
.form-title:hover,
.form-title:focus {
  background-color: #604e43;
}
.form-inputs {
  width: 566px;
  min-height: 200px;
  padding-top: 40px;
  padding-right: 49px;
  padding-left: 56px;
  background-color: #ffffff;
}
.form-inputs:first-child {
  margin-bottom: 15px;
}
.hotel-search input {
  height: 28px;
  padding: 18px 12px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
.hotel-search label {
  margin-right: 18px;

  font-weight: 700;
  line-height: 26px;
}
.hotel-search input:hover,
.hotel-search input:focus {
  background-color: #ebebeb;
}
.input-date {
  width: 346px;
  height: 28px;
  padding: 16px 12px;
}
.input-date-wrapper p:first-child {
  margin-bottom: 31px;
}
.input-date-wrapper {
  margin-bottom: 20px;
}
.button-calendar {
  position: absolute;

  display: none;

  background-color: transparent;
}
.input-number {
  width: 38px;
  height: 38px;
}
.input-number-wrapper {
  display: flex;
  margin-bottom: 43px;
}
.input-number-wrapper p {
  position: relative;

  display: block;
  width: 190px;
  margin-right: 91px;
}
.input-number-wrapper p:last-child {
  margin-right: 0;
}
.input-number-wrapper label {
  margin-right: 72px;
}

.input-number-wrapper label::before {
  content: "";
  position: absolute;
  left: 113px;

  display: block;
  width: 35px;
  height: 36px;

  background-color: green;
  /* background-image: url("../img/icon-minus.svg"); */
}
.button-search {
  width: 100%;
  height: 55px;
  margin-bottom: 53px;
  border: none;
  font-size: 21px;
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
}
.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
}
.button-search:active {
  color: #ffffff;

  background-color: #5496bd;
  opacity: 0.3;
}
/*======HOTELS======*/
.current-page {
  font-weight: 700;
  color: #766357;
}
.filters {
  width: 1200px;
  min-height: 215px;

  color: #ffffff;

  background-image: url("../img/bg-photo-sedona.jpg");
}
.form-wrapper {
  display: flex;
  padding: 20px 72px;
}
.form-fielsed-wrapper {
  display: flex;
  width: 400px;

  background-color: green;
}
.filters-fieldset {
  width: 200px;
  min-height: 157px;

  font-weight: 700;
  font-size: 16px;

  border: none;
}
.filters-legend {
  font-weight: 700;
  font-size: 16px;
}
.price-wrapper {
  width: 400px;

  background-color: grey;
}
.price-band {
  width: 318px;
  min-height: 157px;
}
.price-band label {
  font-weight: 700;
  font-size: 16px;
}
.button-filter {
  font-weight: 400;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}
.button-filter:hover,
.button-filter:focus {
  color: #000000;

  background-color: #ffffff;
}
.sorting-results {
  display: flex;
  min-height: 87px;

  border-bottom: 1px solid #e5e5e5;
}
.filter-result-amount {
  width: 117px;
  margin-right: 49px;
  margin-left: 72px;

  font-weight: 700;
  font-size: 21px;
  line-height: 22px;
}
.sorting-title {
  width: 75px;
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
}
.sort-by-type {
  display: flex;
  width: 282px;
}
.sort-by-type li:first-child ~ li {
  margin-left: 33px;
}
.sort-button {
  line-height: 18px;
  color: #000000;

  border-bottom: 2px dotted #81b3d2;
  opacity: 0.3;
}
.sort-by-priority {
  display: flex;
  width: 34px;
}
.result-item {
  position: relative;

  display: flex;
  padding: 29px 72px;

  border-bottom: 1px solid #e5e5e5;
}
.result-item:after {
  content: " ";
  position: absolute;
  top: 30px;
  left: 1037px;

  width: 90px;
  height: 17px;

  background-color: red;
}
.result-image {
  width: 135px;
  height: 90px;
  margin-top: 1px;
  margin-right: 30px;
}
.result-wrapper {
  width: 260px;
  min-height: 90px;
}
.result-title {
  margin-top: -3px;
  margin-bottom: 7px;
}
.results-wrapper h3 + span {
  margin-right: 36px;
}
.sort-button {
  line-height: 18px;
  color: #000000;

  border-bottom: 2px dotted #81b3d2;
  opacity: 0.3;
}
.sort-by-price {
  color: #81b3d2;

  border-bottom: none;
  opacity: 1;
}
.hotel-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.hotel-link:hover,
.hotel-link:focus {
  color: #81b3d2;
}
.hotel-link:active {
  color: #000000;

  opacity: 0.3;
}
.rating {
  position: absolute;
  top: 96px;
  left: 1037px;

  color: #666666;

  background-color: #f2f2f2;
}
.result-item-button {
  margin-top: 17px;
}
.button-describe {
  margin-right: 4px;
  padding: 6px 16px;

  color: #ffffff;

  background-color: #81b3d2;
}
.button-describe:hover,
.button-describe:focus {
  background-color: #669ec0;
}
.button-describe:active {
  color: #ffffff;

  background-color: #669ec0;
  opacity: 0.3;
}
.button-booking {
  padding: 6px 17px;

  color: #ffffff;

  background-color: #766357;
}
.button-booking:hover,
.button-booking:focus {
  background-color: #604e43;
}
.button-booking:active {
  color: #ffffff;

  background-color: #604e43;
  opacity: 0.3;
}
